<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css">
  <title> B-Active | <%=listName%>
  </title>
</head>

<body class="container">
  <h1>
    <%=listName%>
  </h1>
  <form action="/lists/<%=listName%>/createTask" method="POST" class="form-create">
    <input type="text" name="taskName" id="taskName" class="input-create"
      placeholder="Digite a tarefa deseja adicionar.">
    <button type="submit">Criar</button>
  </form>
  <table class="list-table">
    <tbody>
      <tr>
        <% tasks.forEach(task=> { %>
          <td class="list-div <%= task.isDone ? 'done' : 'pending' %>">
            <%= task.name %>
              <% if (!task.isDone) { %>
                <form action="/lists/<%=listName%>/concludeTask" method="POST">
                  <input type="text" name="taskName" id="taskName" value="<%=task.name%>" hidden>
                  <button type="submit" class="btn-complete">✅Concluir</button>
                </form>
              <% } %>
          </td>
          <% }) %>
      </tr>
    </tbody>
  </table>
  <a href="/lists" class="btn-primary">voltar</a>
</body>

</html>